<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sobey.tvcust">

    <!--
    ######################################################################## 修改必读 ########################################################################
    ## 这个AndroidManifest.xml并不是完整的主配置文件，在关联的module中也分包配置了相应权限、服务、activity等配置信息，在编译时会合并到主配置文件中
    ## 这个主配置文件中只配置了该工程相关的项目，不用担心配置了重复的权限、属性等，合并时会自动去重
    ## 之所以分开配置是为了不让工程主配置文件过长，不便于维护。每个libray都配置自己需要的属性，便于管理，比如：
    ## module:easeui 中配置了环信及时聊天的所有属性和权限及相关资源
    ## module:jpush  中配置了极光推送的所有属性和权限及相关资源
    ##########################################################################################################################################################
    -->


    <!-- bughd -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- xutils3 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 调用相册、相机 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 录视频 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--全局dialog-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>

    <!--友盟统计start-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--友盟统计end-->

    <application
        android:name=".app.TVDemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--bugHD-->
        <meta-data android:value="2c6902b17241c4abf1050f19fb3f6f62" android:name="BUG_HD_SDK_GENERAL_KEY" />
        <!--友盟统计-->
        <meta-data android:value="57b3f0bae0f55aae02001a65" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>

        <receiver android:name=".receiver.MyInstalledReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.TestActivity"
            android:theme="@style/AppTheme.NoTitleFullscreen"></activity>
        <activity android:name=".ui.activity.PiePolylineChartActivity"></activity>
        <activity
            android:name=".ui.activity.StartUpActivity"
            android:label="@string/title_activity_start_up"
            android:theme="@style/AppTheme.NoTitleFullscreen" />
        <activity
            android:name=".ui.activity.LoadUpActivity"
            android:theme="@style/AppTheme.NoTitleFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReqfixActicity"
            android:label="@string/title_activity_reqfix"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ReqDescribeActicity"
            android:label="@string/title_activity_reqfixdescribe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ReqDescribeOnlyActicity"
            android:label="@string/title_activity_reqfixdescribeonly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.QuestionActivity"
            android:label="@string/title_activity_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.DeviceDetailActivity"
            android:label="@string/title_activity_device_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MsgSysActivity"
            android:label="@string/title_activity_msgsys"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MsgOrderActivity"
            android:label="@string/title_activity_msgorder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MsgSelectActivity"
            android:label="@string/title_activity_msgselect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.OrderProgActivity"
            android:label="@string/title_activity_order_prog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VideoRecorderActivity"
            android:label="@string/title_activity_video_recorder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:label="@string/title_activity_photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WebMsgSysActivity"
            android:label="@string/title_activity_webmsgsys"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CountOrderActivity"
            android:label="@string/title_activity_count_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CountQuestionActivity"
            android:label="@string/title_activity_countquestion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CountWarningActivity"
            android:label="@string/title_activity_countwarning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.DeviceListActivity"
            android:label="@string/title_activity_device_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WarningListActivity"
            android:label="@string/title_activity_warning_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleFullscreen" />
        <activity
            android:name=".ui.activity.FindPswActivity"
            android:label="@string/title_activity_find_psw"
            android:theme="@style/AppTheme.NoTitleFullscreen" />
        <activity
            android:name=".ui.activity.EvaDetailActivity"
            android:label="@string/title_activity_eva_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EvaActivity"
            android:label="@string/title_activity_eva"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ComplainActivity"
            android:label="@string/title_activity_complain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.InfoDetailActivity"
            android:label="@string/title_activity_info_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SignActivity"
            android:label="@string/title_activity_sign"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SignListActivity"
            android:label="@string/title_activity_sign_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VersionActivity"
            android:label="@string/title_activity_version"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MeDetailActivity"
            android:label="@string/title_activity_me_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.OrderAllocateActivity"
            android:label="@string/title_activity_order_allocate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.OrderAllocateOnlyActivity"
            android:label="@string/title_activity_order_allocateonly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CompActivity"
            android:label="@string/title_activity_comp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ModifyPhoneActivity"
            android:label="@string/title_activity_modify_phone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingSecurityActivity"
            android:label="@string/title_activity_setting_security"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ModifyPswActivity"
            android:label="@string/title_activity_modify_psw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AssistActivity"
            android:label="@string/title_activity_assist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CopyActivity"
            android:label="@string/title_activity_copy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SelectUserActivity"
            android:label="@string/title_activity_select_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme.NoTitleFullscreen"></activity>
        <activity
            android:name=".ui.activity.SelectStationActivity"
            android:label="@string/title_activity_selectstation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>